<launch>

    <node name="apply_filter" pkg="ta_lab0" type="ApplyFilter.py" output="screen">
        <param name="filter_path" type="string" value="/home/patrick/racecar_ws/src/ta_lab0/data/filter1.csv" />
				<param name="sub_topic" type="string" value="/camera/color/image_raw" />
				<param name="pub_topic" type="string" value="/camera/color/image_filtered" />
				<param name="fast_convolve" type="bool" value="true" />
    </node>

</launch>
